node_modules/
dist/
.env
.env.local
.DS_Store
*.log
coverage/
.next/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# node_modules/
# dist/
# .env
# .env.local
# .DS_Store
# *.log
# coverage/
# .next/
# --------------------------
#
